version: '3'
services:
    nginx:
        build:
            context: ./docker/nginx
        volumes:
            - .:/app
        depends_on:
            - php-fpm
        ports:
            - "8080:80"
    php-fpm:
        build:
            context: ./docker/php
            dockerfile: php-fpm.docker
        environment:
            PHP_IDE_CONFIG: serverName=car-parking-app-api
        volumes:
            - .:/app
        depends_on:
            - db
    php-cli:
        build:
            context: ./docker/php
            dockerfile: php-cli.docker
        volumes:
            - .:/app
        depends_on:
            - db
    db:
        image: postgres:14.2-alpine
        volumes:
            - db:/var/lib/postgresql/data
            - ./docker/postgres/entrypoint/create-multiple-databases.sh:/docker-entrypoint-initdb.d/create-multiple-databases.sh
        environment:
            - POSTGRES_USER=db
            - POSTGRES_PASSWORD=db
            - POSTGRES_DB=db
            - POSTGRES_MULTIPLE_DATABASES=db_telescope, db_test
        ports:
            - "5432:5432"
    rabbit-mq:
        image: rabbitmq:3.10.7-management-alpine
        ports:
            - "15672:15672"
        volumes:
            - rabbitmq_data:/data
    memcached:
        image: 'memcached:alpine'
    mailhog:
        image: 'mailhog/mailhog:latest'
        ports:
            - "8025:8025"
volumes:
    db:
    rabbitmq_data:
